beautifulsoup4
bs4
certifi
charset-normalizer
click
dnspython
envelope
filelock
Flask
Flask-HTTPAuth
idna
imap-tools
itsdangerous
Jinja2
jsonpickle
MarkupSafe
py3-validate-email
python-gnupg
python-magic
requests
soupsieve
urllib3
Werkzeug
